[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
#ngForecast {
	font-size: 12px;
	width:340px;
	opacity: 0;
}
.city {
	border-bottom: 2px solid green;
	color:green;
}
.wi-today {
	font-size: 4.5em;
	color: green;
	float:left;
	padding-right: 10px;
}
.wi-tomorrow {
	font-size: 2em;
	color: blue;
	padding: 5px;
}
.wi-longterm {
	color:blue;
	font-size: 1.2em;
}
.longterm {
	display: inline-block;
	padding: 10px;
	line-height: 1.5em;
}
.temp-today {
	color: blue;
	font-size: 1.5em;
}
.degree {
	font-size: 1.5em;
}