<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Angular Forecast</title>
	<link href="api.css" rel="stylesheet" type="text/css">
	<link href="css/weather-icons.css" rel="stylesheet" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
</head>
<body ng-app="ngAPI">
<div id="ngForecast" class="wi" ng-controller="APIController" >
	<form ng-submit="getForecast(city)" ng-cloak>
		<input ng-model="city" type="text" placeholder="enter a city" ng-focus="city=''">
		<input type="submit" value="Get forecast!">
	</form>
		<!-- CITY NAME -->
	<span class="city" ng-cloak><i class="wi wi-cloudy"></i> {{api.request[0].query}}</span><br>
		<!-- MAIN ICON -->
	<div class="today" ng-cloak>
		<i ng-repeat="code in codes.condition | filter: {code:api.weather[0].weatherCode}" 
	   	   class="wi wi-today {{code.day_icon}}"></i>
		<b>Today,</b> {{DayString(date.getDay())}}
		{{MonthString(date.getMonth())}} {{date.getDate()}}, {{date.getFullYear()}} 
		<br>
		<div class="temperature">
			<span class="temp-today">{{api.current_condition[0].temp_C}}</span>
			<span class="degree">&#176;</span>
			<span class="letter">C</span>
			<span class="slash">/</span>
		    <span class="temp-today">{{api.current_condition[0].temp_F}}</span>
		    <span class="degree">&#176;</span>
		    <span class="letter">F</span>
		</div>
	</div>

	<div class="tomorrow" ng-cloak>
		<i ng-repeat="code in codes.condition | filter: {code:api.weather[1].weatherCode}" 
		   class="wi wi-tomorrow {{code.day_icon}}"></i>
		Tomorrow, {{days[1].name}}
		<div class="temperature">
			{{days[1].c}}&#176;C / 
			{{days[1].f}}&#176;F<br><br> 
		</div>
	</div>
	
	<div class="longterm" ng-repeat="i in Range(number) track by $index" ng-cloak>
		{{days[$index+2].c}}&#176;C
		<i ng-repeat="code in codes.condition | filter: {code:api.weather[$index].weatherCode}" 
		   class="wi wi-longterm {{code.day_icon}}"></i><br>
		{{days[$index+2].name}}<br>
		<span ng-hide="true">{{$index+1}}</span>
	</div>

</div>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="api.js"></script>
<script>
$(document).ready(function() {
	$("#ngForecast").delay(500).animate({"opacity": "1"}, 630);
});
</script>
</body>
</html>