<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link href="api.css" rel="stylesheet" type="text/css">
</head>
<body ng-app="ngAPI">
<div class="weather-feed" ng-controller="APIController" ng-cloak>

<input ng-model="city" type="text">
<button ng-click="getWeather(city)">Check the weather in {{city}}</button>

<!-- CITY NAME -->
<h1>{{api.request[0].query}}</h1>
<!-- MAIN ICON -->
<img ng-src="{{api.current_condition[0].weatherIconUrl[0].value}}"
     style="float:left;padding-right:8px;">
	
	Today {{getDay(date.getDay())}}<br>
	<h3>{{api.current_condition[0].temp_C}}&#176;C / 
	    {{api.current_condition[0].temp_F}}&#176;F</h3><br>

    <img ng-src="{{api.weather[1].weatherIconUrl[0].value}}" style="width:6%;">
	Tomorrow, {{days[1].name}}<br>
	{{days[1].c}}&#176;C / 
	{{days[1].f}}&#176;F<br><br> 
	
	<div ng-repeat="i in range(number) track by $index">
		<img ng-src="{{api.weather[$index].weatherIconUrl[0].value}}" 
		     style="width:6%;">
		{{days[$index+2].c}}&#176;C / 
		{{days[$index+2].f}}&#176;F
		{{days[$index+2].name}}<br>
		<span ng-hide="true">{{$index+1}}</span>
	</div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
<script src="api.js"></script>
</body>
</html>